# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Intermediate files
.tmp
types.js
optimized-types.js

# Compiled TypeScript files
typescript/**/*.js
typescript/**/*.js.map
dist/

# Build artifacts
index*.js
index*.js.map
!docs/index.html

# Decrypted secrets
secrets.json
.nvmrc
.npmrc

# IDE settings
.vscode
.idea
.claude

.DS_Store
